<div class = "col-md-3">
  <% if book.errors.any? %>
    <%= book.errors.count %>errors prohibited this book from being saved
    <% book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <h2>User info</h2>
  <%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.jpg") %>
    <table class = "table">
      <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to user.following_user.count,user_followed_path(user.id) %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= link_to user.follower_user.count, user_follower_path(user.id) %></th>
        </tr>
      </tbody>
    </table>

    <% if user_signed_in? && user.id == current_user.id %>
      <%= link_to edit_user_path(user.id) do %>
        <div class = "row fas fa-user-cog btn btn-outline-secondary btn-block"></div>
      <% end %>
    <% else %>
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す',unfollow_path(user.id), method: :post, class: "btn btn-info" %>
        <% else %>
          <%= link_to 'フォローする',follow_path(user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    <% end %>

    <h2>New book</h2>
    <%= form_with model: book, local:true do |f| %>
      <div class = "field">Title</br>
        <%= f.text_field:title %>
      </div>
      <div class = "field">Opinion </br>
        <%= f.text_area:body %>
      </div>
      <div class = "actions">
        <%= f.submit'Create Book',class: "btn btn-success" %>
      </div>
    <% end %>
</div>
